<footer class="footer bg-primary-100">
    <section class="container">
        <div class="text-neutral-500 py-md-11 py-9 d-flex flex-md-row flex-column justify-content-between align-items-center">
            <div class="mb-md-0 mb-4">
                <h2>想看什麼主題由你決定！</h2>
            </div>
            <div>
                <h4 class="mb-md-4 mb-12">歡迎投稿與我們分享</h4>
                <button type="button" class="btn btn-secondary-200 py-md-3 px-md-6 border-0 d-flex align-items-center text-white">
                    <span class="d-inline-block lh-normal h5">
                        聯絡我們聯絡我們
                    </span>
                  </button>
            </div>
        </div>
        <div class="py-6 border-top mx-auto text-center text-neutral-400 font-style-Newsreader">
            <p>©Vivre 2024 All right Reserved</p>
        </div>

    </section>
</footer>